<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>PowerPost</title>
</head>
        
    <header>
        <div class="nav-container">
        <div class="navbar">
            <ul>
   	            <% if session[:user_id] != nil%>
                <li><img class="logo" src="../img/powerpost1.png"></li>
                <li><a href="/<%= @person.id %>">Home</a></li>
                <li><a href="/<%= @person.id %>/settings">Settings</a></li>
                <li><a href="/<%= @person.id %>/friends">Friends</a></li>
                <li><a href="/profile/<%= @person.id %>">Profile</a></li>
                <li>
                    <form action="/logout" method="post">
                        <input type="submit" value="Logout">
                    </form>
                </li>
               <!--  <%#else%> -->
                <%end%>
                <!-- <input type="image" src="img_submit.gif" alt="Submit" width="48" height="48"> -->
            </ul>
        </div>
    </header>
    </div class="nav-container">
        <%= yield %>
    </div>

</body>

</html>
